[Desktop Entry]
Version=1.0
Type=Application
Name=Virtual Tour of The Frick Collection
Comment=Art Museum Virtual Tour | The Frick Collection
Exec=firefox https://www.frick.org/visit/virtual_tour
Icon=tuxpaint
Path=
Terminal=false
StartupNotify=false
Categories=Education;Science;