[Desktop Entry]
Version=1.0
Type=Application
Name=Experience Curiosity
Comment=Hop on the Curiosity rover and drive through Mars!
Exec=firefox http://eyes.nasa.gov/curiosity/
Icon=mate-panel-window-list
Path=
Terminal=false
StartupNotify=false
Categories=Education;Science;