[Desktop Entry]
Version=1.0
Type=Application
Name=Google Maps
Comment=Google Maps
Exec=google-chrome-stable --app=https://maps.google.com
Icon=web-google-maps
Path=
Terminal=false
StartupNotify=false
Categories=Network;Application;