[Desktop Entry]
Version=1.0
Type=Application
Name=Starlight OS Tutorials
Comment=Get help and learn how to use Starlight OS
Exec=google-chrome-stable --app=https://www.starlightos.com/tutorials
Icon=/usr/share/icons/star.png
Path=
Terminal=false
StartupNotify=false
Categories=Utility;