[Desktop Entry]
Version=1.0
Type=Application
Name=Timezone Converter
Comment=Convert between major world cities, countries and timezones in both directions
Exec=firefox http://www.thetimezoneconverter.com/
Icon=time
Path=
Terminal=false
StartupNotify=false
Categories=Utility;