[Desktop Entry]
Version=1.0
Type=Application
Name=Youtube
Comment=Youtube
Exec=google-chrome-stable --app=https://www.youtube.com
Icon=youtube
Path=
Terminal=false
StartupNotify=false
Categories=Network;Application;AudioVideo;Player;